body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'geograph', Helvetica, Arial, sans-serif;
}

.navbar-container {
  position: relative;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  font-family: 'geograph', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.3em;
}

nav {
  display: flex;
  column-gap: 1em;
  font-size: 1em;
}

nav a {
  text-decoration: none;
  color: #828282;
}

footer {
  display: flex;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  color: white;
  margin-top: auto;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 200;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.burger-menu a {
  text-decoration: none;
}

.logo {
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  background-color: #bbb8b81f;
  border-radius: 23px;
  padding: 8px 18px;
  margin-left: 5px;
  /* width: 60px; */
}

.notFound {
  text-align: "center";
}

.notFound span {
  font-size: 200px;
}

.cart {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.cart img {
  position: absolute;
  left: 5px;
  top: 3px;
  height: 90%;
  width: 90%;
  filter: invert(10%);
}

.cart-counter {
  position: absolute;
  background-color: red;
  border: 2px red solid;
  border-radius: 50%;
  right: -8px;
  top: -7px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: 600;
  color: white;
  height: 13px;
  width: 13px;
  text-align: center;
  line-height: 14px;
}

.containerProducts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #fafafa;
}

.containerCard {
  position: relative;
  min-width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.containerCard a {
  text-decoration: none;
}

.containerCard .card {
  border-radius: 5px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.containerProducts .card .imgBx {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}


.containerProducts .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
  transition: 0.5s ease-in-out;
  transform-origin: right;
  cursor: pointer;
}

.containerProducts .card:hover .imgBx img {
  transform: scale(1.2);
}

.containerProducts .card .content {
  padding: 10px 10px 0px 10px;
}

.containerProducts .card .content .productName h3 {
  font-size: 1em;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
}

.containerProducts .card .content .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerProducts .card .content .price h2 {
  font-size: 20px;
  font-weight: 500;
  color: #ff2020;
}

.containerProducts .card .content button {
  border: 1px solid purple;
  border-radius: 50px;
  font-size: 1em;
  line-height: 20px;
  margin: 8px 0 5px;
  background: none;
  color: purple;
}

.containerProducts .card .content button {
  padding: 5px 15px;
  cursor: pointer;
}

.containerProducts .card .content button:hover {
  background: purple;
  color: white
}

.productDetail {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 30px;
}

.productDetail .imgBx {
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  display: flex;
  align-items: center;
  margin: 10px;
}

.productDetail .description {
  margin: 10px;
  max-width: 450px;
}

.description .brand {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description .title {
  margin-top: 0px;
}

.productDetail .description .stock {
  background: #f9f9f9;
  padding: 10px 15px;
  border-top: dotted 1px #cdcdcd;
  border-bottom: dotted 1px #cdcdcd;
  font-size: 14px;
}

.productDetail .actionCart {
  text-align: center;
  display: flex;
}

.productDetail .actionCart .addCart {
  border: 1px solid purple;
  border-radius: 50px;
  font-size: 1em;
  line-height: 20px;
  background: none;
  color: purple;
  padding: 5px 40px;
  cursor: pointer;
}

.productDetail .actionCart .addCart:hover {
  background: purple;
  color: white
}

.productDetail .actionCart .addCart span {
  margin: auto;
}

.product-counter {
  display: flex;
  align-items: center;
}

.counter-button {
  background-color: transparent;
  color: purple;
  border: 1px solid purple;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 4px 15px;
  cursor: pointer;
  margin: 0 0.5rem;
}

.counter-button:hover {
  background-color: purple;
  color: white;
}

.counter-value {
  font-size: 1.5rem;
  margin: 0 8px;
}

.description-product {
  font-size: 12px !important;
  background: #f7f7f7;
  padding: 8px 10px;
  border-radius: 7px;
  border: solid 1px #ebebeb;
}


.image-gallery {
  width: 700px;
}

@media (max-width: 700px) {
  .image-gallery {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .image-gallery {
    max-width: 340px;
  }

  nav a {
    font-size: 0.7em;
  }
}

.loader {
  position: absolute;
  top: 30%;
}

.containerCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.cartItem table {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 16px;
  border-spacing: 0;
}

.cartItem table thead tr th {
  background: #e5e5e5;
  color: #523f3f;
  font-weight: 600;
  padding: 9px 15px;

}

.cartItem table tbody tr td {
  border-bottom: 1px solid #979797;
}

.cartItem table tbody tr td {
  padding: 1px 50px;
}

.cartItem table tbody tr button {
  all: unset;
  cursor: pointer;
}

.cartItem table tbody tr img {
  width: 64px;
  margin: 10px;
}

.cartSummary {
  margin-top: 16px;
}

.totalToPay {
  border: 1px solid #cecece;
  padding: 15px 40px;

}

.totalToPay span {
  margin-top: 25px;
}

.totalToPay button {
  width: 100%;
  border: 1px solid purple;
  border-radius: 50px;
  font-size: 1em;
  line-height: 20px;
  margin: 8px 0 5px;
  background: none;
  color: purple;
  cursor: pointer;
}

.totalToPay button:hover {
  background: purple;
  color: white
}

.totalToPay .price {
  color: purple;
  margin-left: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  width: 35%;
}

.form-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
}

.form-container form p {
  color: #bf1650;
  margin-top: 0px;
}

.form-container form p::before {
  display: inline;
  content: "⚠ ";
}

.form-container form .actions {
  display: flex;
  column-gap: 10px;
}

.form-container form .actions button {
  border: 1px solid purple;
  font-size: 1em;
  line-height: 20px;
  margin: 8px 0 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.form-container form .actions button:first-child {
  background: none;
  color: purple;
}

.form-container form .actions button:last-child {
  background: purple;
  color: white;
}